.linkForGroup a > ion-icon{
  color: var(--verdeForte) ;
  font-size: 2.5rem;
}

.container-grupos{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.group-name{
  display: flex;
  align-items: center;
}

.group-name p{
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1rem;
}