.GrupoApoio{
  width:100%;
  display: flex;
  flex-direction: column;
}

.grupoAPoio-container{
  display: flex;
  justify-content: center;
}

.lista-gruposDeApoio{
  margin-top: 4rem;
  border-radius: 2rem;
  padding: 2rem;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 40rem;
  width: 100%;
}