.section-hero{
  background-color: var(--roxoClaro);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 10rem 5rem;
}

.content-hero{
  color: var(--branco);
  max-width: 35rem;
  line-height: 1.5;
}

.content-hero h2{
  font-size: 2.1rem;
}

.content-hero p{
  line-height: 2;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.img-hero {
  height: 40rem;
  border-bottom-right-radius: 15rem ;
  border-bottom-left-radius: 15rem ;
}

.creditos {
  display: flex;
  justify-content: center;
}

.creditos p {
  font-size: 1rem;
  color: var(--roxoForte);
}

@media (max-width: 800px){
  .img-hero {
      height: 28rem;

  }

  .section-hero{
      flex-direction: column-reverse;
  }
}