.secaoAvaliacao{
    background-color: var(--verdeClaro);
    padding: 2rem 1rem;

}

.secaoAvaliacao > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloAvaliacao{
    margin-bottom: 2rem;
    
}
.tituloAvaliacao h2{
    font-weight: bolder;
    font-size: 2rem;
}
.conteinerCards{
    display: flex;
    justify-content: space-around;
    max-width: 80rem;
    width: 100%;
    gap: 1rem;
}

.navAvaliacao {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.navAvaliacao ion-icon{
    color: var(--roxoClaro);
    font-size: 1.6rem;
}

@media (max-width:700px){
    .conteinerCards{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80rem;
        width: 100%;
        padding: 0 2rem;
        gap: 1rem; 
    }

}