.button-login {
    text-align: center;
    margin-top: 5rem;
}

.button-login input {
    width: 100%;
    height: 5rem;
    font-size: 2.5rem;
    background-color: #DBF4A7;
    border-radius: 4rem;
    border: none;
    box-shadow: 1px 1px 3px;
}