.secao-duvidas{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 5rem;
}
details{
  display: block;
  border: 0.1rem solid var(--roxoClaro);
  padding: 1rem 2rem;
  border-radius: 6rem;
  max-width: 80rem;
  width: 100%;
  cursor: pointer;
}

.perguntas-respostas{
  width: 100%;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.h2-duvidas{
  margin-bottom: 2rem;
  font-size: 2.1rem;
}

.texto-ajuda{
  border-top:0.1rem solid var(--roxoClaro);
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #1e1e1e;
}

summary{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 100%;
  font-size: 1.7rem;
  list-style: none;
  cursor: pointer;
}

