.footer {
    background-color: #9d93da;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
  }
  
  .footer-section {
    margin: 20px;
    min-width: 150px;
    font-size: 14px;
  }
  
  .footer-section h4 {
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-contact {
    font-size: 14px;
    margin: 20px;
  }
  
  .footer-contact p {
    margin: 5px 0;
  }
  
  .footer-contact .app-links {
    margin-top: 10px;
  }
  
  .footer-contact .app-links img {
    margin-right: 10px;
    width: 120px;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-start;
  }
  
  .social-icons img {
    width: 30px;
    margin-right: 10px;
  }
  