.picture-star {
    display: flex;
    justify-content: space-between;
}

.picture-star ion-icon{
    font-size: 2rem;
    color: var(--roxoClaro);
}

.address {
    display: flex;
    flex-direction: row;
}
