.barraPesquisa{
  max-width: 60rem;
  width: 100%;
  text-align: right;
  position: relative;
  display: inline-block;
}

.barra-posFiltros{
  max-width: 60rem;
  width: 100%;
  text-align: right;
  position: relative;
  display: inline-block;
}

.input-filtro{
  background-color: #D9D9D9;  
  padding: 1rem;
  width: 100%;
  border: 0;
  padding-left: 4rem;
  padding-right: 8rem;
}

.barraPesquisa input{
  border-radius: 3rem;
}

.barra-posFiltros input{
  border-radius: 2rem 2rem 0 0;
}

.input-filtro:focus{
  border: 0;
  outline: none;
}

ion-icon.lupa{
  position: absolute;
  right: 1rem;
  font-size: 3rem;
  color: #7D84B2;
  transition: ease 0.3s transform;
}

ion-icon.lupa:hover{
  transform: scale(1.050);
}

.icone-filtros{
  position: absolute;
  right: 5rem;
  top: 0;
}
.icone-filtros >ion-icon{
  color: #7D84B2;
  font-size: 3rem;
  transition: ease 0.3s transform;
}
.icone-filtros >ion-icon:hover{
  transform: scale(1.050);

}

.filtros{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
  border-radius: 0 0 2rem 2rem;
  padding: 0 2rem 2rem 2rem;
  position: absolute;
  width: 100%;
}

.pos-filtro{
  padding-top: 1rem;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  border-top: 1px solid #7D84B2;
  flex-wrap: wrap;

}

.filtros select{
  background-color: #7D84B2;
  border-radius: 3rem;
  text-align: center;
  color: white;
  min-width: 10rem;
  padding: 0.2rem;
}

.filtro-profissionais{
  width: 80%;
}