.meusPacientes{
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  background-color: var(--verdeClaro);
  padding: 1rem;
}

.relatorio{
  color: var(--roxoForte);
}