.container-barraPesquisa{
  position: relative;
  display: flex;
  width: 70%;
  align-items: center;
  background-color: var(--bg);
  border-radius: 20px;
  padding: 0 2rem;
}

.container-barraPesquisa-pos-filtros{
  position: relative;
  display: flex;
  width: 70%;
  align-items: center;
  background-color: var(--bg);
  border-radius: 20px;
  padding: 0 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.icone-lupa, .icone-filtros{
  font-size: 3rem;
  color: var(--roxoClaro);
}

.input-pesquisa{
  all: unset;
  padding: 0.5rem;
  font-size: 1.3rem;
  flex: 8;
}

.painel-filtros{
  display: flex;
  flex-direction: column;
  align-items: center !important;
  width: 100%;
  border-top: 1px solid var(--roxoClaro);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--bg);
  padding: 2rem;
  position: absolute;
  top: 36px;
  left: 0;
}

.painel-filtros select{
  width: 60%;
}
.lista-profissionais{
  margin-top: 1rem;
  width: 60%;
}

.resultadosPesquisa{
  position: absolute;
  top: 36px;
  background-color: red;
}
@media (max-width: 1270px) {
  .painel-filtros select{
    width: 100%;
  }
  .lista-profissionais{
    width: 100%;
  }
}
@media (max-width: 745px) {
  .painel-filtros select{
    width: 100%;
  }
  .lista-profissionais{
    width: 100%;
  }
}