*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --roxoClaro:#8E9DCC;
  --roxoMedio:#7D84B2;
  --roxoForte:#4F5578;
  --verdeClaro:#DBF4A7;
  --verdeForte:#799949;
  --bg:#F9F9ED;
  --branco:#fff;
  --preto:#000;
}

html{
  font-size: 62.5%;
}

body{
  background-color: #F9F9ED;
}

::-webkit-scrollbar{
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #7D84B2;
  border-radius: 2rem;
}

@media (max-width: 800px){

  html{
    font-size: 60%;
  }
}