.professional-data-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.view-professional{
  display: flex;
}

.user-icon{
  font-size: 2rem;
  color: var(--verdeForte);
}

.nameAndSpecialty{
  display: flex;
  flex-direction: column;
}

.user-name{
  font-size: 1.5rem;
  font-weight: 600;
}

.professional-location{
  display: flex;
  font-size: 1rem;
}

.professional-location > p{
  font-size: 1.3rem;
}
.professional-location i{
  color: var(--verdeForte);
  font-size: 1.5rem;
  margin-left: 1rem;
}