@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

:root{
  --roxoClaro:#8E9DCC;
  --roxoMedio:#7D84B2;
  --roxoForte:#4F5578;
  --verdeClaro:#DBF4A7;
  --verdeForte:#799949;
  --bg:#F9F9ED;
  --branco:#fff;
  --preto:#000;
}

html{
  font-size: 62.5%;
}

body{
  background-color: #F9F9ED;
}

/*Página de login */
.login {
  display: flex;
  justify-content: center;
  padding: 5%;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #8E9DCC, #7D84B2);
}

::-webkit-scrollbar{
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #7D84B2;
  border-radius: 2rem;
}

@media (max-width: 800px){

  html{
    font-size: 60%;
  }
}
