.home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.profissionaisLista, .resumoAgend{
  height: 100%;
}

.container-home, .container{
  margin-top: 10rem;
  display: flex;
  gap: 6rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profissionaisLista{
  border-radius: 2rem;
  padding: 2rem;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 40rem;
  width: 100%;
  height: 400px;
  overflow-y: auto;
}

.profissionaisLista::-webkit-scrollbar {
  display: none;
}

.profissionaisLista h3{
  font-size: 2rem;
}

.outrosProf{
  background: none;
  border: none;
  color: #799949;
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

.resumoAgend{
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  background-color: white;
}

h3{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container-reagendar{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-pacientes{
  border-radius: 2rem;
  padding: 2rem;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 40rem;
  width: 100%;
  height: 400px;
  overflow-y: auto;
  scrollbar-width: none;
}

.container-pacientes::-webkit-scrollbar {
  display: none;
}