.button-login {
    text-align: center;
    margin-top: 5rem;
}

.button-login input {
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;
    background-color: #DBF4A7;
    border-radius: 4rem;
    border: none;
    box-shadow: 1px 1px 3px;
    cursor: pointer;
    transition: .5s;
}

.button-login input:hover {
    transform: scale(1.05);
    background: #799949;
    color: #fff;
}