.newagend{
  color: rgb(69, 69, 69);
  background-color: #F9F9ED;
  border: none;
  padding: 1rem 3.5rem;
  width: 100%;
  border-radius: 5rem;
  box-shadow: 0rem 0.2rem 1rem 0.3rem rgba(0, 0, 0, 0.299);
  cursor: pointer;
  transition: ease 0.2s transform;
  font-size: 1.5rem;
}


.newagend:hover{
  transform: scale(1.020);
}

.card-ult-agend{
  background-color: #799949;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1rem 3rem;
  border-radius: 4rem;
  width: 36rem;
}

.ult-agend{
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}